<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container " id="app">
      <div class="card center">
        <h1 :style="{color: inputValue.length < 4 ? 'darkred' : 'darkblue'}">{{ title }}</h1>
        <div class="form-control center">
          <input type="text"
                 :placeholder="placeholderString"
                 :value="inputValue"
                 @input="inputChanger"
                 @keypress.enter="addNewNote" />
          <button class="btn" style="margin-top: 5px" v-on:click="addNewNote">Add</button>
          <hr />
<!--          <h2>inputValue: {{inputValue}}</h2>-->
          <ul class="list" v-if="notes.length !== 0">
            <li class="list-item" v-for="(note, index) in notes">{{index + 1}}. <span :class="{'bold': note.length > 5}">{{note}}</span>
              <button class="btn danger" v-on:click="removeNote(index)">Del</button>
            </li>
          </ul>
          <div v-else> Add new notes </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>


